@model IEnumerable<Almacen.Models.Producto>

@{
    ViewData["Title"] = "Productos";
}
@if (Model.Count() > 0)
{
    <h1>Productos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Descripción
                </th>
                <th>
                    Unidad(es)
                </th>
                <th>
                    Precio
                </th>
                <th>
                    <a asp-action="AgregarProducto" class="btn btn-outline-success">Agregar Producto</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Nombre
                    </td>
                    <td>
                        @item.Descripcion
                    </td>
                    <td>
                        @item.Unidad
                    </td>
                    <td>
                        $@item.Precio
                    </td>
                    <td>
                        <a asp-action="EditarProducto" asp-route-id="@item.IDProducto" class="btn btn-outline-warning">Editar</a>
                        <a asp-action="BorrarProducto" asp-route-id="@item.IDProducto" class="btn btn-outline-danger">Borrar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <center><h3><strong>Actualmente no existen productos, intente @Html.ActionLink("agregar uno.", "AgregarProducto")</strong></h3></center>
}